.main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: 768px) {
    align-items: center;
  }
}

.buttonContainer {
  margin-left: 70%;
  @media screen and (max-width: 768px) {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}

.buttonCreateDecision {
  width: 15rem;
  padding: 0.25rem 0.25rem;
  background-color: var(--color-tertiary-active);
  border-radius: 1em;
  color: white;
  border: 0;
  font-size: 1rem;

  @media screen and (max-width: 768px) {
    width: 80%;
    font-size: 0.8em;
  }
}

.buttonCreateDecision:hover {
  background-color: var(--color-primary-active);
}

.buttonScrollToTop {
  width: 15%;
  text-align: center;
  background-color: var(--color-primary-active);
  border-radius: 1em;
  color: white;
  font-size: 1em;
  padding: 0.25em 0.25em;
  margin: auto auto;

  @media screen and (max-width: 768px) {
    width: 40%;
    font-size: 0.8em;
  }
}

.buttonScrollToTop:hover {
  background-color: rgb(6, 95, 120);
}

.titleH2 {
  color: var(--color-tertiary-active);
  font-weight: normal;
  width: 100%;
  border-bottom: 2px solid var(--color-tertiary-active);

  @media screen and (max-width: 768px) {
    font-size: 1em;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1em;
  align-items: start;

  @media screen and (max-width: 768px) {
    padding: 1em 0;
  }
}
