.container {
  text-align: center;
  padding: 2rem;
  transform: translateY(7rem)

}

.container h1 {
  font-size: 2.5rem;
  color: var(--color-primary-active);
  margin-bottom: 1rem;
}

.container h2 {
  font-size: 1.8rem;
  color: var(--color-tertiary-active);
  margin-bottom: 1rem;
}

.logo {
  max-width: 200px;
  height: auto;
  margin-top: 1rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--color-primary-active);
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 2rem;
  }

  .container h2 {
    font-size: 1.4rem;
  }

  .logo {
    max-width: 150px;
  }
}