.input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #b8bcc5;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: white;
}

.input::placeholder {
  color: #9ca3af;
}

.label {
  display: block;
  color: var(--color-primary-active);
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.buttonAddCategory {
  background-color: var(--color-tertiary-active);
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    width: 60%;
    font-size: 0.8em;
  }
}

.buttonAddCategory:hover {
  background-color: #7a073e;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 50%;
  border: 1px solid #b8bcc5;
  border-radius: 0.5rem;
  margin: auto;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
