*:focus-visible {
  outline-style: dashed;
  outline-color: var(--outline-color);
  outline-width: 3px;
  outline-offset: 4px;
}

.errorTitle {
  text-align: center;
  font-size: 5em;
  margin: 1em 0 0.5em 0;
}

.gif {
  display: flex;
  justify-content: center;
  height: 25em;
  margin-bottom: 2em;
}

.textError {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.sectionButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContactUs {
  width: 10rem;
  height: 2em;
  background-color: var(--color-primary-active);
  border-radius: 1em;
  border: 0;
  font-size: 1em;
  margin: 0 2em 2em 0;
}

.buttonContactUs:hover {
  background-color: rgb(6, 95, 120);
}

.buttonHomePage {
  width: 10rem;
  height: 2em;
  background-color: var(--color-tertiary-active);
  border-radius: 1em;
  border: 0;
  font-size: 1em;
  margin: 0 2em 2em 0;
}

.buttonHomePage:hover {
  background-color: #7a073e;
}

a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .gif {
    height: 180px;
  }

  .buttonContactUs {
    width: 45%;
    margin: 0 2em 2em 2em;
  }

  .buttonHomePage {
    width: 45%;
    margin: 0 2em 2em 0;
  }
}
