.container {
  background-color: aliceblue;
  padding: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 24px;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 4px 6px -1px rgba(26, 26, 26, 0.1);
  position: relative;
  margin: auto;
}

.titleH1 {
  color: #9b084f;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 0.9rem;
  background: white;
}

.input::placeholder {
  color: #9ca3af;
}

.label {
  display: block;
  color: #0891b2;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.errorText {
  color: #ff0101;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  display: block;
}

.buttonCreateUser {
  width: 80%;
  padding: 0.25em 0.25em;
  border-radius: 1em;
  color: white;
  border-color: var(--color-tertiary-active);
  background-color: var(--color-tertiary-active);
  font-size: 1em;
  margin: auto;
  display: block;

  @media screen and (max-width: 768px) {
    width: 60%;
    margin: auto auto;
    font-size: 0.8em;
  }
}

.buttonCreateUser:active {
  background-color: var(--color-primary-active);
  border: solid 1px var(--color-primary-active);
}

/* responsive */

@media (min-width: 768px) {
  .container {
    background-color: aliceblue;
    padding: 3em;
  }
  .card {
    max-width: 480px;
    padding: 3rem;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .input {
    padding: 1rem;
    font-size: 1rem;
  }

  .label {
    font-size: 1rem;
  }
}
