/* style des éléments de haut de page: */
.logo_exit {
  flex-direction: row;
  justify-content: space-between;
}

.form {
  margin: 2em 7em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/* titres: */
.titleH2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #196c84;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
legend {
  font-size: 18px;
  margin-bottom: 10px;
  color: #196c84;
}
/* .section h2 {
  font-size: 18px;
  margin-bottom: 10px;
} */

/* général: */
/* .section {
  margin-bottom: 30px;
} */

.label {
  font-size: 1em;
  display: block;
  margin-bottom: 5px;
  color: #196c84;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #b8bcc5;
  border-radius: 8px;
  font-size: 0.9rem;
  background: white;
}
.textarea {
  resize: vertical;
  height: 300px;
}
.section {
  margin-bottom: 60px;
}
/* boutton: */
.canceldButton {
  background-color: #196c84;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.exitButton {
  background-color: white;

  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.addDecisionButton {
  background-color: #9b084f;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
/* style liés à la décision: */
.decision-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  background: #f9f9f9;
  border-radius: 10px;
}
#logo {
  width: 20px;
}

/* style liés aux catégories : */

.addCategory {
  margin-bottom: 20px;
}
.addCategoryContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* .addCategoryContainer input{
  flex:1;
  /* input prend toute la taille disponible */

.addPlaceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.addCategoryContainer button {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  background-color: #fff30d;
}
.addCategoryContainer button:hover {
  background-color: #9b084f;
}
.addPlaceButton {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  background-color: #fff30d;
}
.addPlaceContainer button:hover {
  background-color: #9b084f;
}

/* style de la grid et autres liés aux Planning: */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Définit 3 colonnes de taille égale */
  gap: 20px;
}

.gridContainer article {
  display: flex;
  flex-direction: column;
}

.gridContainer label {
  margin-bottom: 5px;
  font-weight: bold;
}

.gridContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.remarqueNb {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  line-height: 1.4; /* Pour améliorer la lisibilité */
  font-style: italic;
}

/* style lié au bouttons en bas de page ( annuler, et crée la prise de décision): */
.buttongroup {
  display: flex;
  /* gap: 50px; */
  justify-content: space-evenly;
  flex-direction: row;
}
/* Breakpoint : écrans plus larges (768px et plus) */
@media (max-width: 768px) {
  .decision-container {
    max-width: 800px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .form {
    margin: 1em 1em;
  }

  .titleH2 {
    font-size: 1.5em;
  }

  .section h2 {
    font-size: 20px;
  }

  .input,
  .select,
  .textarea {
    font-size: 16px;
    padding: 15px;
  }

  .gridContainer {
    grid-template-columns: repeat(1, 1fr); /* 1 colonne sur les petits écrans */
  }
}
