.form {
  margin: 2em 7em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.calendar {
  display: flex;
  gap: 2em;
  justify-content: center;
  border: 1px solid #b8bcc5;
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
}

.logo {
  margin: 1em;
  width: 20%;
}

.titleH2 {
  font-size: 2.5em;
  color: var(--color-primary-active);
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.legend {
  font-size: 1rem;
  color: var(--color-primary-active);
}

.label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 5px;
  color: #196c84;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #b8bcc5;
  border-radius: 8px;
  font-size: 0.9rem;
  background: white;
}
.textarea {
  resize: vertical;
  height: 15rem;
}

.canceldButton {
  background-color: var(--color-primary-active);
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.addDecisionButton {
  background-color: #9b084f;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.decisionContainer {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}

.users {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem;
  border: 1px solid #b8bcc5;
  border-radius: 8px;
}

.buttongroup {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .decisionContainer {
    max-width: 800px;
    padding: 40px;
  }

  .logo {
    margin: 1em;
    width: 50%;
  }

  .form {
    margin: 1em 1em;
  }

  .titleH2 {
    font-size: 1.5em;
  }

  .section h2 {
    font-size: 20px;
  }

  .input,
  .select,
  .textarea {
    font-size: 16px;
    padding: 15px;
  }

  .calendar {
    flex-direction: column;
  }

  .users {
    flex-direction: column;
  }
}
