.main {
  padding: 1rem 3rem;
}

.container {
  margin-bottom: 2rem;
}

.userContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.titleH1 {
  margin: 0.8rem 0;
  text-align: center;
  color: var(--color-primary-active);
  font-size: 3rem;
  font-weight: 500;
}

.titleApplicants {
  color: var(--color-tertiary-active);
  text-decoration: none;
}

.titleUsers {
  color: var(--color-primary-active);
  text-decoration: none;
}
