*:focus-visible {
  outline-style: dashed;
  outline-color: var(--outline-color);
  outline-width: 3px;
  outline-offset: 4px;
}

.navContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 1rem;
  margin: 0;
  gap: 1rem;
}
