.container {
  background-color: aliceblue;
}

.card {
  background: white;
  padding: 3rem;
  border-radius: 24px;
  width: 100%;
  max-width: 480px;
  box-shadow: 0 4px 6px -1px rgba(26, 26, 26, 0.1);
  position: relative;
  margin: auto !important;
}

.title {
  color: var(--color-tertiary-active);
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.input,
.select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1rem;
  background: white;
}

.input::placeholder {
  color: #9ca3af;
}

.label {
  display: block;
  color: #0891b2;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.errorText {
  color: #ff0101;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  display: block;
}

.buttonCreateUser {
  background-color: var(--color-tertiary-active);
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    width: 60%;
    font-size: 0.8em;
  }
}

.buttonCreateUser:hover {
  background-color: var(--color-primary-active);
}

.containerButton {
  display: flex;
  justify-content: center;
}
.buttonCreateUser:active {
  background-color: var(--color-primary-active);
  border: solid 1px var(--color-primary-active);
}

/* Responsive */

@media screen and (max-width: 768px) {
  .card {
    max-width: 85%;
    padding: 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .input,
  .select {
    padding: 0.75rem;
    font-size: 0.9rem;
  }

  .label {
    font-size: 0.9rem;
  }
}
